* {
  font-family: sans-serif;
}

input,
button {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}

input {
  display: block;
  margin-bottom: 20px;
}

button {
  border: 1px solid gray;
  background: whitesmoke;
  margin-right: 5px;
  transition: background-color 0.3s ease; /* Optional: Add transition for smooth color change */
}

button:hover {
  background-color: rgba(211, 211, 211, 0.659); /* Change to your desired hover color */
}

button:active {
  background-color: darkgray; /* Change to your desired active color */
}

button:nth-last-child(2),
button:nth-last-child(1) {
  background: tomato;
  color: white;
}

button:nth-last-child(2):hover,
button:nth-last-child(1):hover {
  background-color: darkred; /* Change to your desired hover color for these buttons */
}

button:nth-last-child(2):active,
button:nth-last-child(1):active {
  background-color: firebrick; /* Change to your desired active color for these buttons */
}

.error-message {
  color: red;
  font-size: 16px;
  margin-top: 10px;
}
