p,
label {
  font: 1rem "Fira Sans", sans-serif;
}

input[type="checkbox"] {
  margin: 0.4rem;
}

input[type="button"] {
  background-color: #c6f9f8;
  border: 1px solid #ccc;
  border-radius: 0.2rem;
  cursor: pointer;
  font: 1rem "Fira Sans", sans-serif;
  font-size: 16px;
  margin: 0.1rem;
  padding: 0.1rem 0.4rem;
}

input[type="button"]:hover,
input[type="button"]:active {
  background-color: #2cd5fa;
}
